{
  "extends": "eslint:recommended",
  "plugins": ["angular"],
  "env": {
    "browser": true,
    "jasmine": true
  },
  "globals": {
    "angular": true,
    "module": true,
    "inject": true,
    "marathon": true
  },

  // angular/di rule is enabled
  
  "rules": {
    "angular/di": [0]
  }
}
