.container-item {
    border: 2px solid #d9d9d9;
    border-radius: 5px;
}

.container-item h3 {
    padding: 5px;
    text-align: center;
    color: #fff;
    background-color: #357ed5;
    text-transform: uppercase;
}

.panel-group, .panel, .panel-group .panel-heading + .panel-collapse > .panel-body {
    border: none;
    background-color: transparent;
    box-shadow: none;
}

.panel-default > .panel-heading {
    background-color: transparent;
}

.panel-group {
    margin-bottom: 0;
}

.tableRow th {
    text-align: center;
    background-color: #357ed5;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
}

.jumbotron.wrapper {
    background-color: #fff;
}


