.container-item {
    border: 2px solid #d9d9d9;
    border-radius: 5px;
}

.container-item h3 {
    padding: 5px;
    text-align: center;
    color: #fff;
    background-color: #357ed5;
    text-transform: uppercase;
}

.panel-group, .panel, .panel-group .panel-heading + .panel-collapse > .panel-body {
    border: none;
    background-color: transparent;
    box-shadow: none;
}

.panel-default > .panel-heading {
    background-color: transparent;
}

.panel-group {
    margin-bottom: 0;
}

.tableRow th {
    text-align: center;
    background-color: #357ed5;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
}

.jumbotron.wrapper {
    background-color: #fff;
}
.jumbotron p {
    font-size: 14px;
}
.generalDescription {
    font-size: 1.2rem;
}
.statusType {
    font-size: 1.2rem;
    color: #357ed5;
    text-transform: uppercase;
}
.statusDesription {
    font-size: 0.8rem;
}
.glyphicon{
    float: right;
    cursor: pointer;
    color: #357ed5;
    font-size: 20px;
}

tr.tableRow.ng-scope td {
    vertical-align: middle;
}
