.container-item {
  border: 2px solid #d9d9d9;
  border-radius: 5px;
  background-color: #fff;
}

.container-item h3 {
  padding: 5px;
  text-align: center;
  color: #000; 
  background-color: #357ed5;
}