<div class="modal-header">
    <h4>Status Hisory</h4>
</div>
<div class="modal-body">
    <table class="table table-bordered table-hover table-condensed table-striped objectivesTable">
        <thead class="tableHead">
        <tr class="tableRow">
            <th>Date</th>
            <th>Status</th>
            <th>Comment</th>
        </tr>
        </thead>
        <tbody>
        <tr class="tableRow" ng-repeat="evaluation in vm.evaluations">
            <td class="objectivesColumn col-md-2">{{evaluation.date}}</td>
            <td class="descriptionColumn col-md-4">{{evaluation.status}}</td>
            <td class="commentsColumn col-md-6">{{evaluation.comment}}</td>
        </tr>
        </tbody>
    </table>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="vm.ok()">OK</button>
</div>
