<!--<h2>Contacts</h2> -->
<h3>List</h3>
<p>
    <label for="search">Search</label>
    <input type="text" ng-model="search.firstName">
</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th ng-click="vm.sort('lastName')">Name</th>
            <th ng-click="vm.sort('email')">Email</th>
            <th ng-click="vm.sort('website')">Website</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="contact in vm.contacts | filter: search | orderBy:vm.sortBy:vm.sortAsc" ng-class-odd="'odd'">
            <td>{{contact.firstName}} {{contact.lastName | uppercase}}</td>
            <td>{{contact.email}}</td>
            <td>{{contact.website}}</td>
            <td>
                <a href="" ui-sref="contacts.edit({contactId: contact.id})" class="btn btn-success">Edit</a><!-- controller view -->
                <button class="btn btn-danger">Delete</button>
            </td>
        </tr>
    </tbody>
</table>