<div class="modal-header">
    <button type="button" class="close" aria-label="Close" ng-click="vm.dismiss()">
          <span aria-hidden="true">&times;</span>
    </button>
    <h3>Assign team members for: {{vm.user.firstName}} {{vm.user.lastName}}</h3>
</div>

<div class="modal-body assignTeamModal">

    <div>
        <label for="search">Search</label>
        <input type="text" ng-model="search.firstName">
    </div>

    <div class="assignModalWrap">
        <div class="first-column">
            <h4>Push team members ({{vm.userList.length}}) </h4>
            <div ng-repeat="user in vm.userList | filter: search">
                <div class="userBtnContainer" ng-click="vm.addUser(vm.user, user)">
                    <div class="btn btn-primary">
                        {{user.firstName}} {{user.lastName}}
                    </div>
                </div>
            </div>
        </div>
        <div class="second-column">
            <h4>Drop team members ({{vm.selectedUsers.length}})</h4>
            <div ng-repeat="user in vm.selectedUsers">
                <div class="userBtnContainer" ng-click="vm.removeUser(vm.user, user)">
                    <div class="btn btn-success">
                         {{user.member.firstName}} {{user.member.lastName}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-warning" ng-click="vm.reset()">Reset</button>
</div>
