<h3>Users List</h3>

<button class="btn btn-primary pull-right" ng-click="vm.register()">Create user</button>

<p>
    <label for="search">Search</label>
    <input type="text" ng-model = "vm.searchUser">
</p>

<table class="table table-bordered table-striped table-hover">
    <thead>
    <tr>
        <th>Full Name</th>
        <th>Username</th>
        <th>Email</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="user in vm.users | filter : vm.search">
        <td>{{user.firstName}} {{user.lastName}}</td>
        <td>{{user.username}}</td>
        <td>{{user.email}}</td>
        <td>
            <button ng-click="vm.openDeleteConfirmation(user, $index)" class="btn btn-danger" >Delete User</button>

            <button ng-click="vm.openAdminConfirmation(user, $index, 'set')" class="btn btn-warning" ng-show="user.role.name !== 'admin'">Set ADMIN</button>
            <button ng-click="vm.openAdminConfirmation(user, $index, 'unset')" class="btn btn-danger" ng-show="user.role.name === 'admin'">Delete ADMIN</button>
            <button ng-click="vm.openAssignView(user)" class="btn btn-success">Assign</button>

            <button ng-click="vm.manage()" class = "btn btn-warning">Edit Profile</button>
        </td>
    </tr>
    </tbody>
</table>



